services:
  web:
    build:
      context: .
      dockerfile: docker/prod/Dockerfile
    env_file:
      - .env.prod
    depends_on:
      - redis
    expose:
      - "8000"
    command: sh /app/docker/prod/entrypoint.sh
    volumes:
        - static_data:/app/staticfiles

  celery_worker:
    build:
      context: .
      dockerfile: 'docker/prod/Dockerfile'
    command: celery -A core worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web
    env_file:
      - '.env.prod'

  celery_beat:
    build:
      context: .
      dockerfile: 'docker/prod/Dockerfile'
    command: celery -A core beat -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web
    env_file:
      - '.env.prod'

  redis:
    image: redis:7

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./docker/prod/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_data:/app/staticfiles
    depends_on:
      - web

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
  static_data:
