services:
  web:
    build:
      context: .
      dockerfile: docker/prod/Dockerfile
    env_file:
      - .env.prod
    depends_on:
      - db
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./docker/prod/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_data:/app/staticfiles
    depends_on:
      - web

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
  static_data:
